<div class="container">
	<h1 class="text-center">{{ vm.editorMode }}</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">Dynamic data</h3>
	  	</div>
		<div class="panel-body">
			<form class="form form-inline">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Name" ng-model="vm.templateDetails.name">
					<input type="text" class="form-control" placeholder="Description" ng-model="vm.templateDetails.description">
					<input type="text" class="form-control" placeholder="Content" ng-model="vm.templateDetails.content">
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body" ng-bind-html="vm.templateDetails"></div>
	</div>
	<a class="btn btn-primary pull-right" ui-sref="edit( { id : '{{ templateId }}', mode : 'edit' } )">Edit template</a>
	<div class="clearfix"></div>
</div>
