<div class="container">
	<a ui-sref="create( { mode : 'create' } )" class="btn btn-primary pull-right">New template</a>
	<div class="clearfix"></div>
	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Content</th>
			<th>Options</th>
		</thead>
		<tfoot></tfoot>
		<tbody>
			<tr ng-repeat="template in vm.templates">
				<td>{{ template.name }}</td>
				<td>{{ template.description }}</td>
				<td>{{ template.content }}</td>
				<td>
					<a ui-sref="view( { id : '{{ template.id }}', mode : 'view' } )">View</a>
					<a ui-sref="edit( { id : '{{ template.id }}', mode : 'edit' } )">Edit</a>
					<a href="" ng-click="vm.deleteTemplate( template.id )">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
